body {
    background-color: #E6E6E0;
    font-family: Verdana,Geneva,sans-serif;
}

/*Container*/
#container {
    position: relative;
    max-width: 980px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
    padding-left: 65px;
    padding: 0;
    margin-top: -22px;
    background: url(/images/bg-left.png) top left no-repeat #fff;
}

header {
    position: absolute;
    width: 950px;
    height: 150px;
    top: 0;
    left: 30px;
}

    header img {
        top: 40px;
        left: 750px;
        position: absolute;
    }
/* Title */
#title {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
}

    #title h1 {
        text-align: left;
        padding-top: 45px;
        padding-left: 20px;
        height: auto;
        font-weight: 300;
        letter-spacing: .1em;
        font-family: Verdana,Geneva,sans-serif;
    }
/* Menu */
#menu-div {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 150px;
    left: 0;
    background-color: #E5A823;
}

#menu {
    position: absolute;
    top: 0px;
    left: 0;
    padding-left: 0;
    list-style: none;
    display: inline-flex;
    display: -webkit-inline-box;
    float: left;
    height: inherit;
    margin: 0;
}

    #menu li {
        padding: 0;
        margin: 0;
        height: inherit;
        text-align: center;
        vertical-align: central;
    }

        #menu li a {
            font-size: 13.5pt;
            text-decoration: none;
            float: right;
            padding: 14px 20px 14px 20px;
            background-color: #E5A823;
            font-family: Verdana,Geneva,sans-serif;
            color: black;
        }

            #menu li a:hover {
                background-color: #f0ce84;
            }

/* Content */
#content {
    position: absolute;
    top: 200px;
    left: 30px;
    height: 200px;
    width: 910px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Footer */
#footer {
    position: absolute;
    top: 700px;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #3D5D86;
}
    #footer h6 {
        padding-left: 50px;
        color: white;
        padding-top: 30px;
    }
a {
    font-size: 13.5pt;
    text-decoration: none;
    font-family: Verdana,Geneva,sans-serif;
    color: blue;
}
#list table tbody th, td {
    width: 150px;
    text-align:left;
}
#longer {
    width: 450px !important;
    height: 25px;
    max-width: 450px;
    text-align: left;
}
#shorter {
    width: 50px !important;
    height: 25px;
    max-width: 50px;
    max-height: 25px;
    text-align: left;
    vertical-align: middle;
}
#medium {
    width: 100px !important;
    height: 25px;
    max-width: 100px;
    max-height: 25px;
    text-align: left;
    vertical-align:middle;
}
#long {
    width: 250px !important;
    height: 25px;
    max-width: 250px;
    max-height: 25px;
    text-align: left;
    vertical-align: middle;
}
button {
    background-color: #F6E0B0;
    height: 35px;
    font-size: medium;
    cursor: pointer;

}
input{
    height: 25px;
}

.paging {
    display: table;
    text-align: center;
    width: -moz-available;
    width: -webkit-fill-available;
    padding: 20px;
}

    .paging a {
        font-size: 12.5pt;
        text-decoration: none;
        font-family: Verdana,Geneva,sans-serif;
        color: black;
        background-color: #F6E0B0;
        padding: 4px;
        margin-left: 2px;
        margin-right: 2px;
        border: 1px solid black;
    }
    .paging a:hover {
        background-color:antiquewhite;
        color:gray;
    }
#slist {
    padding: 7px 10px 7px 10px;
    height: 35px;
    font-size: medium;
    cursor: pointer;
    background-color: #F6E0B0;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid;
    border-bottom-color: grey;
    border-right-color: grey;
    border-top-color: white;
    border-left-color: white;
}
    #slist:active {
        border-bottom-color: white;
        border-right-color: white;
        border-top-color: grey;
        border-left-color: grey;
    }
#alert {
    color: red;
    position: absolute;
    left: 315px;
    top: 50px;
}
#alert2 {
    color: red;
    position: absolute;
    left: 200px;
    top: 160px;
}
#stulist{
    width: 100px;
    height: 100px;
}
#error, #error ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: red;
}